<!DOCTYPE html>
<!--suppress HtmlUnknownTarget -->
<html>
    <head lang="en">
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
        <title></title>

            <!-- jQuery -->
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script src="res/javascripts/underscore-min.js" type="text/javascript"></script>
        <script src="res/javascripts/utils.js" type="text/javascript"></script>
        <script src="res/javascripts/moment.js" type="text/javascript"></script>

        <script src="res/vis/vis.min.js" type="text/javascript"></script>
        <link rel="stylesheet" type="text/css" href="res/vis/vis.min.css">


        <script src="res/javascripts/timeline.js" type="text/javascript"></script>
        <link rel="stylesheet" type="text/css" href="res/stylesheets/main.css">
    </head>
    <body>
        <div id="filterWrapperOutside">
            <div id="filterWrapperInside">
                <label for="filter">Filter</label>
                <input id="filter"/>
            </div>
        </div>
        <div id="visualization"></div>
    </body>
</html>