.slider-container-mask {
    display: none;
}

#filterWrapperOutside {
    width: 90%;
    margin: 20px auto;

}

#filterWrapperInside {

}

#filterWrapperInside > label {
    clear: both;
    overflow:hidden;
    margin-right: 10px;
}

#filter {
    width: 95%;
    overflow:hidden
    padding: 5px;
    margin: auto;


}